In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn 
import plotly.express as px

# –î–æ–º–∞—à–Ω—è—è —Ä–∞–±–æ—Ç–∞: –¥–µ—Ä–µ–≤—å—è —Ä–µ—à–µ–Ω–∏–π

–í —ç—Ç–æ–π –¥–æ–º–∞—à–Ω–µ–π —Ä–∞–±–æ—Ç–µ –≤–∞–º –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç –Ω–∞—É—á–∏—Ç—å—Å—è –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å —Ü–µ–Ω—ã —Ç–æ–≤–∞—Ä–æ–≤ –∏–∑ –º–∞—Ä–∫–µ—Ç–ø–ª–µ–π—Å–∞ Azamon.

–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –¥–æ–º–∞—à–Ω–µ–π —Ä–∞–±–æ—Ç–µ:
- –í–æ –≤—Å–µ—Ö –≥—Ä–∞—Ñ–∏–∫–∞—Ö –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –ø–æ–¥–ø–∏—Å–∏ —á–µ—Ä–µ–∑ title, legend, etc.
- –í–æ –≤—Ä–µ–º—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –ø—Ä–æ–≤–µ—Ä—è–π—Ç–µ, —á—Ç–æ —É –≤–∞—Å –Ω–µ —Ç–µ–∫—É—Ç –¥–∞–Ω–Ω—ã–µ. –û–±—ã—á–Ω–æ —ç—Ç–æ –ø–æ–∑–∏—Ç–∏–≤–Ω–æ –≤–ª–∏—è–µ—Ç –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ –Ω–∞ —Ç–µ—Å—Ç–µ, –Ω–æ –Ω–µ–≥–∞—Ç–∏–≤–Ω–æ –≤–ª–∏—è–µ—Ç –Ω–∞ –æ—Ü–µ–Ω–∫—É üåö
- –ï—Å–ª–∏ –≤—ã —Å–¥–∞–µ—Ç–µ —Ä–∞–±–æ—Ç—É –≤ Google Colaboratory, —É–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –≤–∞—à–∞ —Ç–µ—Ç—Ä–∞–¥–∫–∞ –¥–æ—Å—Ç—É–ø–Ω–∞ –ø–æ —Å—Å—ã–ª–∫–µ.
- –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –º–µ–º–æ–≤ –¥–æ–ø—É—Å–∫–∞–µ—Ç—Å—è, –Ω–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —Å–æ–±–ª—é–¥–∞—Ç—å –º–µ—Ä—É. –ù–µ—Å–æ–¥–µ—Ä–∂–∞—Ç–µ–ª—å–Ω–∞—è —Ä–∞–±–æ—Ç–∞, —Å–æ—Å—Ç–æ—è—â–∞—è —Ç–æ–ª—å–∫–æ –∏–∑ –º–µ–º–æ–≤, –ø–æ–ª—É—á–∞–µ—Ç 0 –±–∞–ª–ª–æ–≤.

# –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [30]:
df = pd.read_csv('amazon_co-ecommerce_sample.csv').drop(columns=[
    'product_name',
    'index',
    'uniq_id',
    'customers_who_bought_this_item_also_bought',
    'items_customers_buy_after_viewing_this_item',
    'sellers',
    'description', # text
    'product_information', # text
    'product_description', # text
    'customer_questions_and_answers', # text
    'customer_reviews', # text
])

In [5]:
df.head()

,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
0,Hornby,¬£3.42,5¬†new,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
1,FunkyBuys,¬£16.99,NaN,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
2,ccf,¬£9.99,2¬†new,17,2.0,3.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
3,Hornby,¬£39.99,NaN,1,2.0,5.0 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
4,Hornby,¬£32.19,NaN,3,2.0,4.7 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...

In [6]:
df.tail()

,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
9995,Mattel,¬£22.95,5¬†new,3,3.0,5.0 out of 5 stars,Hobbies > Collectible Figures & Memorabilia > ...
9996,Star Wars,¬£39.99,NaN,1,3.0,4.0 out of 5 stars,Characters & Brands > Star Wars > Toys
9997,Olde Scotland Yard Ltd.,¬£43.99,3¬†new,1,3.0,5.0 out of 5 stars,Novelty & Special Use > Novelty > Accessories ...
9998,DC Comics,¬£49.81,3¬†new,1,3.0,5.0 out of 5 stars,Hobbies > Collectible Figures & Memorabilia > ...
9999,Bandai,¬£21.20,31¬†new,11,3.0,4.5 out of 5 stars,Characters & Brands > Star Wars > Toys

## –û—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö (1 –±–∞–ª–ª)

–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ –ø—Ä–∏–∑–Ω–∞–∫–∏. –ï—Å—Ç—å –ª–∏ –≤ –Ω–∏—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –ö–∞–∫–æ–µ —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –º–µ–∂–¥—É NaN'–∞–º–∏ –∏ –æ–±—â–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–∞–Ω–Ω—ã—Ö? –ï—Å—Ç—å –ª–∏ —Å–º—ã—Å–ª –≤—ã–∫–∏–¥—ã–≤–∞—Ç—å –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥–∞–Ω–Ω—ã–µ –∏–∑ —ç—Ç–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞?

In [34]:
df.dtypes

manufacturer                         object
price                                object
number_available_in_stock            object
number_of_reviews                    object
number_of_answered_questions        float64
average_review_rating                object
amazon_category_and_sub_category     object
dtype: object

In [35]:
df.isnull().sum()

manufacturer                           7
price                               1435
number_available_in_stock           2500
number_of_reviews                     18
number_of_answered_questions         765
average_review_rating                 18
amazon_category_and_sub_category     690
dtype: int64

In [36]:
df.notnull().sum()

manufacturer                        9993
price                               8565
number_available_in_stock           7500
number_of_reviews                   9982
number_of_answered_questions        9235
average_review_rating               9982
amazon_category_and_sub_category    9310
dtype: int64

In [37]:
df.isnull().sum()/(df.notnull().sum()+df.isnull().sum())

manufacturer                        0.0007
price                               0.1435
number_available_in_stock           0.2500
number_of_reviews                   0.0018
number_of_answered_questions        0.0765
average_review_rating               0.0018
amazon_category_and_sub_category    0.0690
dtype: float64

In [31]:
df = df.drop(columns=['number_available_in_stock'])

In [39]:
df.head()

,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
0,Hornby,¬£3.42,15,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
1,FunkyBuys,¬£16.99,2,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
2,ccf,¬£9.99,17,2.0,3.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
3,Hornby,¬£39.99,1,2.0,5.0 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...
4,Hornby,¬£32.19,3,2.0,4.7 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...

In [40]:
df.tail()

,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
9995,Mattel,¬£22.95,3,3.0,5.0 out of 5 stars,Hobbies > Collectible Figures & Memorabilia > ...
9996,Star Wars,¬£39.99,1,3.0,4.0 out of 5 stars,Characters & Brands > Star Wars > Toys
9997,Olde Scotland Yard Ltd.,¬£43.99,1,3.0,5.0 out of 5 stars,Novelty & Special Use > Novelty > Accessories ...
9998,DC Comics,¬£49.81,1,3.0,5.0 out of 5 stars,Hobbies > Collectible Figures & Memorabilia > ...
9999,Bandai,¬£21.20,11,3.0,4.5 out of 5 stars,Characters & Brands > Star Wars > Toys

## –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö (3 –±–∞–ª–ª–∞)

–û–±—Ä–∞–±–æ—Ç–∞–π—Ç–µ –ø—Ä–∏–∑–Ω–∞–∫–∏. –í—ã–ø–æ–ª–Ω–∏—Ç–µ –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤, –∑–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –µ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫, –∫–æ—Ç–æ—Ä—ã–π —Ä–∞–∑–±–∏–≤–∞–µ—Ç—Å—è –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–¥–ø—Ä–∏–∑–Ω–∞–∫–æ–≤. –ß—Ç–æ —ç—Ç–æ –∑–∞ –ø—Ä–∏–∑–Ω–∞–∫? –ó–∞–∫–æ–¥–∏—Ä—É–π—Ç–µ –∏ –µ–≥–æ.

–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã (+ 1 –±–∞–ª–ª):
- –ö–∞–∫–∏–µ –∏–∑ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —ç—Ç–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –ª—É—á—à–µ –∫–æ–¥–∏—Ä–æ–≤–∞—Ç—å —á–µ—Ä–µ–∑ ordinal encoding?
- –ö–∞–∫–∏–µ –∏–∑ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–æ–ø—É—Å—Ç–∏–º–æ –∫–æ–¥–∏—Ä–æ–≤–∞—Ç—å —á–µ—Ä–µ–∑ one-hot?

–ü—Ä–∏–º.: —Å—É–º–º–∞—Ä–Ω–æ –∑–∞ —ç—Ç—É —Å–µ–∫—Ü–∏—é –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –¥–æ 4 –±–∞–ª–ª–æ–≤.

In [15]:
def rating_to_number(a):
    if isinstance(a, str):
        return float(a.split(' ')[0])
    return a

def number_of_reviews_to_number(a):
    if isinstance(a, str):
        return float(a.replace(',', '.'))
    return a

def price_to_number(a): 
    if isinstance(a, str) and '¬£' in a:
        a =float(a.split('¬£')[1])
        return a
    
def to_num(a):
    a = float(a)
    return a

In [19]:
df_pre = df
df_pre = df_pre.dropna(subset=['price'])
df_pre = df_pre.drop(7094)
df_pre['price'] = df_pre[~df_pre['price'].str.contains('-')]['price']

In [8]:
df_pre['price'].apply(price_to_number).head()

0     3.42
1    16.99
2     9.99
3    39.99
4    32.19
Name: price, dtype: float64

In [32]:
df_pre['price'].apply(price_to_number).tail()

9995    22.95
9996    39.99
9997    43.99
9998    49.81
9999    21.20
Name: price, dtype: float64

In [33]:
#–ù–∞–π–¥–µ–º —Å—Ä–µ–¥–Ω–∏–µ –∏ –º–µ–¥–∏–∞–Ω—ã
mean_rat = df.dropna(subset= 'average_review_rating')['average_review_rating'].apply(rating_to_number).mean()
median_price = df_pre['price'].apply(price_to_number).median()
median_answ_quest = df['number_of_answered_questions'].median()
mean_rat, median_price, median_answ_quest

(4.707283109597275, 10.56, 1.0)

In [34]:
#–ü—Ä–∏–≤–µ–ª–∏ –≤ –ø–æ—Ä—è–¥–æ–∫ average_review_rating
df['average_review_rating'] = df['average_review_rating'].fillna(mean_rat)
df['average_review_rating'] = df['average_review_rating'].apply(rating_to_number)

In [35]:
df = df.drop(7094)
df['price'] = df['price'].fillna(median_price)
df['price'] = df['price'].astype(str)
df['price'] = df[~df['price'].str.contains('-')]['price']
df['price'] = df['price'].apply(price_to_number)
df = df.dropna(subset = 'price')
df['price'] = df['price'].apply(to_num)

In [36]:
df['number_of_answered_questions'] = df['number_of_answered_questions'].fillna(median_answ_quest)

In [37]:
median_number_of_reviews = df['number_of_reviews'].apply(number_of_reviews_to_number).median()
df['number_of_reviews'] = df['number_of_reviews'].fillna(median_number_of_reviews)
df['number_of_reviews'] =  df['number_of_reviews'].apply(number_of_reviews_to_number)
df['number_of_reviews'] = df['number_of_reviews'].fillna(median_number_of_reviews)

In [38]:
df = df.dropna(subset = 'manufacturer', axis = 0) 
df = df.dropna(subset = 'amazon_category_and_sub_category', axis = 0)

In [39]:
df.isnull().sum()

manufacturer                        0
price                               0
number_of_reviews                   0
number_of_answered_questions        0
average_review_rating               0
amazon_category_and_sub_category    0
dtype: int64

In [40]:
df.head()

,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
0,Hornby,3.42,15.0,1.0,4.9,Hobbies > Model Trains & Railway Sets > Rail V...
1,FunkyBuys,16.99,2.0,1.0,4.5,Hobbies > Model Trains & Railway Sets > Rail V...
2,ccf,9.99,17.0,2.0,3.9,Hobbies > Model Trains & Railway Sets > Rail V...
3,Hornby,39.99,1.0,2.0,5.0,Hobbies > Model Trains & Railway Sets > Rail V...
4,Hornby,32.19,3.0,2.0,4.7,Hobbies > Model Trains & Railway Sets > Rail V...

In [41]:
df.tail()

,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
9995,Mattel,22.95,3.0,3.0,5.0,Hobbies > Collectible Figures & Memorabilia > ...
9996,Star Wars,39.99,1.0,3.0,4.0,Characters & Brands > Star Wars > Toys
9997,Olde Scotland Yard Ltd.,43.99,1.0,3.0,5.0,Novelty & Special Use > Novelty > Accessories ...
9998,DC Comics,49.81,1.0,3.0,5.0,Hobbies > Collectible Figures & Memorabilia > ...
9999,Bandai,21.20,11.0,3.0,4.5,Characters & Brands > Star Wars > Toys

In [43]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df['manufacturer'] = encoder.fit_transform(df[['manufacturer']])
df['amazon_category_and_sub_category'] = encoder.fit_transform(df[['amazon_category_and_sub_category']])

In [44]:
df

,manufacturer,price,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
0,869.0,3.42,15.0,1.0,4.9,152.0
1,670.0,16.99,2.0,1.0,4.5,152.0
2,2100.0,9.99,17.0,2.0,3.9,152.0
3,869.0,39.99,1.0,2.0,5.0,152.0
4,869.0,32.19,3.0,2.0,4.7,152.0
...,...,...,...,...,...,...
9995,1162.0,22.95,3.0,3.0,5.0,130.0
9996,1696.0,39.99,1.0,3.0,4.0,44.0
9997,1314.0,43.99,1.0,3.0,5.0,186.0
9998,442.0,49.81,1.0,3.0,5.0,130.0
9999,175.0,21.20,11.0,3.0,4.5,44.0

# –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏ (3 –±–∞–ª–ª–∞)

In [46]:
from sklearn.model_selection import train_test_split

y = df['price']
X = df.drop(columns = ['price'])

In [47]:
X.head()

,manufacturer,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category
0,869.0,15.0,1.0,4.9,152.0
1,670.0,2.0,1.0,4.5,152.0
2,2100.0,17.0,2.0,3.9,152.0
3,869.0,1.0,2.0,5.0,152.0
4,869.0,3.0,2.0,4.7,152.0

In [48]:
y.head()

0     3.42
1    16.99
2     9.99
3    39.99
4    32.19
Name: price, dtype: float64

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.5, random_state=42)

## –ë–µ–π–∑–ª–∞–π–Ω

–û–±—É—á–∏—Ç–µ –±–∞–∑–æ–≤—É—é –º–æ–¥–µ–ª—å. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ `sklearn.dummy.DummyRegressor`. –ö–∞–∫–æ–µ –∫–∞—á–µ—Å—Ç–≤–æ –æ–Ω–∞ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ç–µ—Å—Ç–µ? –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ MSE, RMSE.

In [63]:
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error

In [64]:
dummy_regr.fit(X_train, y_train)

DummyRegressor()

In [65]:
y_pred = dummy_regr.predict(X_test)
y_pred = pd.Series(y_pred)

In [66]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE) = ",mse)

Mean Squared Error (MSE) =  1362.181326778102

In [67]:
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE) = ",rmse)

Root Mean Squared Error (RMSE) =  36.90774074334681

In [68]:
dummy_regr.score(X_test, y_test)

-0.0012992381973249145

## –î–µ—Ä–µ–≤–æ —Ä–µ—à–µ–Ω–∏–π

–û–±—É—á–∏—Ç–µ —Ä–µ–≥—Ä–µ—Å—Å–∏–æ–Ω–Ω–æ–µ –¥–µ—Ä–µ–≤–æ —Ä–µ—à–µ–Ω–∏–π, –ø—Ä–æ–≤–µ—Ä—å—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ —ç—Ç–æ–π –º–æ–¥–µ–ª–∏ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ. –£–ª—É—á—à–∏–ª–æ—Å—å –ª–∏ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –±–∞–∑–æ–≤–æ–π –º–æ–¥–µ–ª—å—é? –û—Ü–µ–Ω–∏—Ç–µ r2_score –æ–±—É—á–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏.

In [75]:
from sklearn.tree import DecisionTreeRegressor


dtr = DecisionTreeRegressor()
dtr = dtr.fit(X_train, y_train)
y_pred = dtr.predict(X_test)

MSE =  2476.1606780109328
RMSE =  49.76103574093824
R2 score =  -0.8201525390242019

In [76]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE) = ",mse)

Mean Squared Error (MSE) =  2476.1606780109328

In [77]:
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE) = ",rmse)

Root Mean Squared Error (RMSE) =  49.76103574093824

In [78]:
r2 = r2_score(y_test, y_pred)
print("R2 score = ", r2)

R2 score =  -0.8201525390242019

In [ ]:
#—É—Ö—É–¥—à–∏–ª–æ—Å—å

## –õ–∏–Ω–µ–π–Ω–∞—è —Ä–µ–≥—Ä–µ—Å—Å–∏—è

–ü–æ–ø—Ä–æ–±—É–π—Ç–µ –æ–±—É—á–∏—Ç—å –ª–∏–Ω–µ–π–Ω—É—é —Ä–µ–≥—Ä–µ—Å—Å–∏—é —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é. –û—Ü–µ–Ω–∏—Ç–µ r2_score –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ. –°—Ä–∞–≤–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ —Å –¥–µ—Ä–µ–≤–æ–º —Ä–µ—à–µ–Ω–∏–π.

In [79]:

from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [80]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE) = ",mse)

Mean Squared Error (MSE) =  1355.6921288616643

In [81]:
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE) = ",rmse)

Root Mean Squared Error (RMSE) =  36.819724725500926

In [82]:
r2 = r2_score(y_test, y_pred)
print("R2 score = ", r2)

R2 score =  0.0034707794225826705

In [ ]:
#–ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –¥–µ—Ä–µ–≤–æ–º —Ä–µ—à–µ–Ω–∏–π —Å—Ç–∞–ª–æ –Ω–∞–º–Ω–æ–≥–æ –ª—É—á—à–µ

# –ì–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä—ã (2 –±–∞–ª–ª–∞)

–ü–µ—Ä–µ–±–µ—Ä–∏—Ç–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ (–Ω–µ –±–æ–ª–µ–µ –¥–≤—É—Ö-—Ç—Ä—ë—Ö). –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, –∫–∞–∫ —ç—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –≤–ª–∏—è—é—Ç –Ω–∞ –æ—à–∏–±–∫—É –º–æ–¥–µ–ª–∏ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –¥–ª—è –≥–ª—É–±–∏–Ω—ã –¥–µ—Ä–µ–≤–∞ –≥—Ä–∞—Ñ–∏–∫ –ø–µ—Ä–µ–æ–±—É—á–µ–Ω–∏—è (fitting curve) –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–π —Ç–æ–º—É, —á—Ç–æ –º—ã —Å—Ç—Ä–æ–∏–ª–∏ –Ω–∞ –∑–∞–Ω—è—Ç–∏–∏. –ù–∞–π–¥–∏—Ç–µ –≥–ª—É–±–∏–Ω—É –¥–µ—Ä–µ–≤–∞, –Ω–∞—á–∏–Ω–∞—è —Å –∫–æ—Ç–æ—Ä–æ–π –º–æ–¥–µ–ª—å –Ω–∞—á–∏–Ω–∞–µ—Ç –ø–µ—Ä–µ–æ–±—É—á–∞—Ç—å—Å—è.

# –ü—Ä–æ—Å—Ç–æ–µ –∞–Ω—Å–∞–º–±–ª–∏—Ä–æ–≤–∞–Ω–∏–µ (1 –±–∞–ª–ª)

–í —ç—Ç–æ–π —Å–µ–∫—Ü–∏–∏ –º—ã —Ä–µ–∞–ª–∏–∑—É–µ–º –ø—Ä–æ—Å—Ç–æ–π –∞–Ω—Å–∞–º–±–ª—å –¥–µ—Ä–µ–≤—å–µ–≤.

In [523]:
class EnsembleTreeRegressor:
    def __init__(self, num_trees=5, samples_frac=0.8, **model_kwargs):
        self.num_trees= num_trees
        self._samples_frac = 0.8
        self._trees = [DecisionTreeRegressor(**model_kwargs) for _ in range(num_trees)]
    def fit(self, x, y: pd.Series):
        x = pd.DataFrame(x)
        y = y.reset_index(drop=True)
        for tree in self._trees:
            tree_x = x.sample(frac=self._samples_frac, random_state=42)
            tree_y = y[tree_x.index]
            tree.fit(tree_x, tree_y)
        return self

    def predict(self, x: pd.DataFrame):
        x = pd.DataFrame(x)
        res = []
        for i in range(self.num_trees):
          res.append(self._trees[i].predict(x))
        return sum(res) / len(res)

–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —Ä–∞–±–æ—Ç–∞–µ—Ç –ª–∏ —ç—Ç–æ—Ç –∞–Ω—Å–∞–º–±–ª—å –ª—É—á—à–µ –æ–±—ã—á–Ω–æ–≥–æ –¥–µ—Ä–µ–≤–∞ —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é?

–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –ø–µ—Ä–µ–±–µ—Ä–∏—Ç–µ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—É—é –≥–ª—É–±–∏–Ω—É –¥–µ—Ä–µ–≤–∞. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –Ω–∞—Å–∫–æ–ª—å–∫–æ –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –º–æ–º–µ–Ω—Ç –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–µ–æ–±—É—á–µ–Ω–∏—è —É –æ–¥–∏–Ω–æ—á–Ω–æ–≥–æ –¥–µ—Ä–µ–≤–∞ –∏ —É –∞–Ω—Å–∞–º–±–ª—è. –ó–∞–≤–∏—Å–∏—Ç –ª–∏ —ç—Ç–æ—Ç –º–æ–º–µ–Ω—Ç –æ—Ç —á–∏—Å–ª–∞ –¥–µ—Ä–µ–≤—å–µ–≤ (`num_trees`)? –û—Ç —á–∏—Å–ª–∞ –ø—Ä–∏–º–µ—Ä–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –¥–µ—Ä–µ–≤–∞ (`samples_frac`)? –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫ fitting curve.